<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bx_web.mapper.AuthorityMapper">
	<resultMap id="auth" type="com.example.bx_web.pojo.Authority">
		<id column="priv_id" property="priv_id" />
		<result column="name" property="name"/>
		<result column="code" property="code"/>
		<result column="url" property="url"/>
		<result column="parent_id" property="parent_id"/>
		<result column="created" property="created"/>
		<result column="updated" property="updated"/>
		<result column="is_parent" property="is_parent"/>
	</resultMap>

	<!-- 权限插入操作 -->
	<insert id="add" parameterType="com.example.bx_web.pojo.Authority">
		insert into privilege(priv_id,name,code,url,parent_id,created,updated,is_parent) values(#{priv_id},#{name},#{code},
		#{url},#{parent_id},#{created},#{updated},#{is_parent})
	</insert>


	<!-- 删除权限信息 -->
	<delete id="deleteByPriv_id" parameterType="Long">
		delete from privilege where priv_id = #{priv_id}
	</delete>

	<!-- 修改权限信息 -->
	<update id="edit" parameterType="com.example.bx_web.pojo.Authority">
		update  role
		<trim prefix="set" suffixOverrides=",">
			<if test="name">name=#{name},</if>
			<if test="code">code=#{code},</if>
			<if test="url">url=#{url},</if>
			<if test="parent_id">parent_id=#{parent_id},</if>
			<if test="created">created=#{created},</if>
			<if test="updated">phone=#{updated},</if>
			<if test="is_parent">is_parent=#{is_parent},</if>
		</trim>
		WHERE priv_id=#{priv_id}
	</update>

	<!--列出所有权限-->
	<select id="getAllAuthority" resultMap="auth">
		SELECT *
		FROM privilege
	</select>




</mapper>