<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bx_web.mapper.BookMapper">


    <select id="booklist" resultType="com.example.bx_web.pojo.Book">
        select * from book_info ORDER BY RAND() limit 20
    </select>

    <select id="bookinfo" parameterType="BigInteger" resultType="com.example.bx_web.pojo.Book">
        select * from book_info where book_id=#{book_id}
    </select>

</mapper>