<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bx_web.mapper.OrderMapper">
    <!--<resultMap type="Order" id="OrderData">
        <id property="order_id" column="ORDER_ID" />
        <result property="user_id" column="user_id" />
        <result property="payment" column="payment" />
        <result property="status" column="status" />
        <result property="update_time" column="update_time"/>
    </resultMap>-->

    <select id="OrderR" parameterType="int" resultType="com.example.bx_web.pojo.Order">
        select * from orders where user_id=#{user_id}
    </select>

    <insert id="addorder" parameterType="com.example.bx_web.pojo.Order">
        INSERT INTO orders(user_id,payment,status,payment_type) values(#{user_id},#{payment},
        #{status},#{payment_type},#{post_fee},now())
    </insert>

    <update id="editorder" parameterType="com.example.bx_web.pojo.Order">
        update  orders
        <trim prefix="set" suffixOverrides=",">
            <if test="status">status=#{status},</if>
            <if test="update_time">update_time=now(),</if>
            <if test="end_time">end_time=#{end_time},</if>
            <if test="close_time">close_time=#{close_time},</if>
        </trim>
        WHERE order_id=#{order_id}
    </update>

    <delete id="delete" parameterType="com.example.bx_web.pojo.Order">
        delete from orders where order_id=#{order_id}
        <!--        where id in-->
        <!--        <foreach collection="list" open="(" separator="," close=")" item="id">-->
        <!--            #{id}-->
        <!--        </foreach>-->
    </delete>

</mapper>
