<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bx_web.mapper.RoleAuthorityMapper">
    <resultMap id="role_auth" type="com.example.bx_web.pojo.RoleAuthority">
        <id column="role_id" property="role_id" />
        <id column="privilege_id" property="privilege_id" />
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>

    <resultMap id="auth" type="com.example.bx_web.pojo.Authority">
        <id column="priv_id" property="priv_id" />
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="url" property="url"/>
        <result column="parent_id" property="parent_id"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="is_parent" property="is_parent"/>
    </resultMap>

    <!-- 权限插入操作 -->
    <insert id="add" parameterType="Long">
        insert into role_privilege(role_id,privilege_id,created,updated) values(#{role_id},#{privilege_id},#{created},#{updated})
    </insert>

    <!-- 删除权限信息 -->
    <delete id="delete" parameterType="Long">
        delete from role_privilege where role_id = #{priv_id} and privilege_id = #{privilege_id}
    </delete>

    <!-- 权限信息搜索查询 -->
    <select id="findListByRoleId" parameterType="Long" resultMap="auth">
        select * from privilege where priv_id in
        (select privilege_id from role_privilege
        <if test="_parameter != null">where role_id = #{role_id}
        </if>)
    </select>

    <!-- 列出所有角色和权限-->
    <select id="getAll" resultMap="role_auth">
        select * from role_privilege
    </select>


</mapper>