<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bx_web.dao.UserDao">
    <!--普通用户登录-->
    <select id="userLogin" resultType="com.example.bx_web.model.User">
        SELECT *
        FROM user
        where username = #{username}
          and `password` = #{password}
        limit 0,1
    </select>
</mapper>
