<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.bx_web.mapper.UserMapper">
    <!--普通用户登录-->
    <select id="userLogin" parameterType="com.example.bx_web.pojo.User" resultType="com.example.bx_web.pojo.User">
        SELECT *
        FROM user
        where username = #{username}
          and password = #{password}
          and role_id= #{role_id}
        limit 0,1
    </select>

    <insert id="userRegister" parameterType="com.example.bx_web.pojo.User">
        INSERT INTO user(username,password,role_id) values(#{username},#{password},#{role_id})
    </insert>

    <select id="userinfo" resultType="com.example.bx_web.pojo.User">
        SELECT *
        FROM user
        where user_id = #{user_id}
    </select>

    <update id="modifyinfo" parameterType="com.example.bx_web.pojo.User">
        update  user
        <trim prefix="set" suffixOverrides=",">
            <if test="nickname">nickname=#{nickname},</if>
            <if test="password">password=#{password},</if>
            <if test="gender">gender=#{gender},</if>
            <if test="email">email=#{email},</if>
            <if test="phone">phone=#{phone},</if>
            <if test="zip_code">zip_code=#{zip_code},</if>
            <if test="location">location=#{location},</if>
            <if test="age">age=#{age},</if>
            <if test="country">country=#{country},</if>
            <if test="detail_address">detail_address=#{detail_address},</if>
            <if test="identity">identity=#{identity},</if>
            <if test="active">active=#{active},</if>
            <if test="code">code=#{code},</if>
            <if test="end">end=#{end},</if>
            <if test="created">created=#{created},</if>
            <if test="points">poingts=#{points},</if>
        </trim>
        WHERE user_id=#{user_id}
    </update>

    <update id="rechargeMember" parameterType="int">
        update  user
        <trim prefix="set" suffixOverrides=",">
            <if test="active">active=1,</if>
            <if test="end">end=DATE_SUB(now(), INTERVAL -30 DAY),</if>
            <if test="created">created=now(),</if>
        </trim>
        WHERE user_id=#{user_id}
    </update>

</mapper>
