<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/UserLogin.css">
    <script type="text/javascript" defer=true language=Javascript src="/js/UserLogin.js"></script>
    <title>Document</title>
</head>
<body>
  <div  class="container">
    <div class="log-possion">
      <h1 class="log-font">登录</h1>
      用户名:<input type="text" id="login_name"  class="con-input" v-model="loginInfoVo.username" placeholder="请输入用户名" />
      <br/>
      密码：<input type="password"  id="login_password" class="con-input" v-model="loginInfoVo.password" placeholder="请输入密码" />
      <br/>
      <form  class="choice-box">
        <label>角色选择： </label>
        <label><input id= name="role" type="radio" value="用户" />用户 </label>
        <label><input name="role" type="radio" value="商家" />商家 </label>
        <label><input name="role" type="radio" value="管理员" />管理员 </label>
      </form >
      <button class="login_btn" onclick="login()">登录</button>
      <button class="login_btn" onclick="register()">注册</button>
      <br/>
    </div>
  </div>
</body>
</html>